<div mat-dialog-content>
  <mat-form-field *ngIf="!data.updating">
    <mat-select placeholder="Client" [(ngModel)]="data.client">
      <mat-option *ngFor="let client of clients" [value]="client._id">
        {{ client.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="data.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Link" [(ngModel)]="data.link">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="data"><span *ngIf="data.updating">Update</span><span *ngIf="!data.updating">Create</span></button>
</div>