<h1>Users</h1>
<mat-accordion class="custom-theme">
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{user.name}}
      </mat-panel-title>
      <mat-panel-description *ngIf="user.busyUntilDate">
        {{user.busyUntilDate | date: 'MM/dd'}} {{user.busyUntilTime}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngIf="user.status">{{user.status}}</p>
    <mat-action-row>
      <button mat-raised-button (click)="updateStatusModal(user)">Set status</button>
      <button mat-raised-button (click)="updateBusyUntilModal(user)">Set busy until</button>
      <button mat-raised-button [routerLink]="['/users/' + user.name]">Tasks</button>
      <button mat-raised-button color="warn" (click)="deleteUser(user)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button color="accent" (click)="newUserModal()">Add user</button>
