<h1>Users</h1>
<mat-accordion>
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{user.name}}
      </mat-panel-title>
      <mat-panel-description *ngIf="user.status">
        {{user.status}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-raised-button (click)="updateStatusModal(user)">Set status</button>
      <button mat-raised-button [routerLink]="['/users/' + user.name]">User details</button>
      <button mat-raised-button color="warn" (click)="deleteUser(user)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button color="accent" (click)="newUserModal()">Add user</button>
