<h1>Clients</h1>
<mat-accordion *ngIf="clients">
    <mat-expansion-panel *ngFor="let client of clients">
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{client.name}}
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="client.tasks && client.tasks.length">Tasks : {{client.tasks.length}}</span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row>
            <button mat-raised-button [routerLink]="['/clients/' + client.name]">Tasks</button>
            <button mat-raised-button color="warn" (click)=deleteClient(client)>Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button color="accent" (click)="newClientModal()">Add client</button>