<section class="mat-toolbar mat-primary">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
        <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/tasks">
      <span>Tasks</span>
    </button>
    <button mat-menu-item routerLink="/users">
      <span>Users</span>
    </button>
    <button mat-menu-item routerLink="/clients">
      <span>Clients</span>
    </button>
  </mat-menu>
</section>
<mat-divider></mat-divider>
<router-outlet></router-outlet>