<div class="mat-typography">
  <div mat-dialog-content>
    <mat-form-field *ngIf="!data.updating">
      <p>Name</p>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field *ngIf="data.updating == 'status'">
        <p>Status</p>
        <input matInput [(ngModel)]="data.status">
    </mat-form-field>
    <mat-form-field *ngIf="data.updating == 'busyUntil'">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="data.busyUntilDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="data.updating == 'busyUntil'">
      <input matInput [(ngModel)]="data.busyUntilTime" placeholder="Type a time">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="data">Submit</button>
  </div>
</div>